body {
    background-color: #161616;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    overflow-x: hidden;
    width: 100%;
    max-width: 100vw;
    -webkit-tap-highlight-color: transparent;
}

* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.container {
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
}

::selection {
    background-color: rgba(140, 140, 140, 0.1);
    backdrop-filter: blur(5px);
    color: #686868;
}

a {
    transition: text-shadow 0.3s ease-in-out, transform 0.2s ease-in-out;
    text-shadow: rgba(0, 0, 0, 0.1) 0 2px 5px;
    color: #b1b1b1;
    text-decoration: none;
    user-select: none;
}

a:hover {
    transform: rotate3d(-0.3, 1, 0, 10deg);
    text-shadow: rgba(87, 87, 87, 1) 0 5px 15px;
}

.navbar {
    z-index: 3;
    position: fixed;
    width: 100%;
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 4%;
    height: 80px;
    background-color: rgba(22, 22, 22, 0.7);
    backdrop-filter: blur(5px);
    font-size: 1.35rem;
    box-sizing: border-box;
}

.navbar nav {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0;
    top: 0;
}

.logo {
    position: static;
}

header {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    position: relative;
    left: 0;
    width: 150px;
    max-width: 150px;
}
.text-page {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
}
.text-page p {
    width: 90%;
    max-width: 90%;
}

.banner {
    background-image:
            linear-gradient(0deg, black, transparent 70%),
            linear-gradient(-45deg, black, transparent 60%),
            url("banner.png");
    background-size: cover;
    background-position: center center;
    color: #8c8c8c;
    text-align: left;
    padding-top: 140px;
    padding-bottom: 70px;
    padding-inline: 4%;
    box-shadow: rgba(11, 11, 11, 0.66) 0 20px 0;
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
}
.banner div {
    background: linear-gradient(90deg, rgb(44, 44, 44, 0.2) 30%, rgba(9, 9, 9, 0.2) 50%);
    position: relative;
    padding-left: 5%;
    right: 10px;
    width: 60%;
    min-width: 300px;
    text-wrap: wrap;
    border-radius: 25px;
    border-left: #555555 1px solid;
    border-right: #2c2c2c 1px solid;
}

#app {
    background: linear-gradient(145deg, #050505, #0e0e0e 70%);
    border-radius: 20px;
    min-height: 800px;
    width: 95%;
    max-width: 95vw;
    margin-top: 8%;
    margin-left: 2.5%;
    margin-right: 2.5%;

    color: #8c8c8c;
    border-top: #0f0f0f 2px solid;
    font-weight: lighter;
    overflow-x: hidden;
}

#app h2 {
    text-align: center;
    padding-top: 40px;
}

#app hr {
    background-color: #161616;
    padding: 20px;
    margin-bottom: 60px;
    border: none;
}

.astra-photo-of-day {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap: 20px;
    padding: 0 40px;
    box-sizing: border-box;
}
.image-card {
    transition: transform ease-in-out 0.4s, box-shadow ease-in-out 1s;
    box-shadow: #000000 0 10px 10px;
    background-size: 400px 500px;
    outline: 2px solid #161616;
    outline-offset: 10px;
    border-radius: 25px;
    height: 500px;
    width: 400px;
    max-width: 90vw;
    margin-inline: 20px;
    float: left;
}
.image-card:hover {
    transform: scale(1.02) rotate3d(0, 1, 0.05, 20deg);
    box-shadow: #2e2e2e 0 10px 50px 10px;
}

.icon-cover {
    display: flex;
    background-color: #0b0b0b;
    box-shadow: rgba(11, 11, 11, 0.84) 10px 10px 20px;
    width: 110px;
    height: 110px;
    border-top-left-radius: 25px;
    font-size: 70px;
    color: rgba(195, 195, 195, 0.73);

    justify-content: center;
    align-items: center;

    position: relative;
    left: calc(100% - 110px);
    top: 390px;
}
.fa-star {
    transition: transform ease-out 0.2s;
}
.fa-star:hover {
    transform: scale(1.1) rotateZ(20deg);
}
.fa-star:active {
    transform: scale(0.9) rotateZ(-20deg);
}

.information {
    position: relative;
    bottom: 40px;
    text-wrap: wrap;
}
.full-info {
    position: relative;
    bottom: 120px;
    right: 10px;
    width: 90vw;
    max-width: 90vw;
}
p {
    width: min(660px, 80vw);
    max-width: 80vw;
    text-wrap: wrap;
    font-size: 32px;

    color: #8c8c8c;
    line-height: 1.6;
}

.favorites {
    position: relative;
    bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    gap: 5%;
    padding-inline: 4%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.favorites div p {
    border-inline: #161616 2px solid;
    padding-left: 20px;
    margin-left: 10px;
    width: min(420px, 90vw);
    max-width: 90vw;
    height: auto;
    min-height: 100px;
}

ul {
    list-style-type: none;
}

.dropdown {
    position: relative;
}

.fa-solid {
    margin-left: 10px;
    transition: transform 0.5s ease;
}

.nav-list_nav {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    padding: 0;
}

.dropdown-menu {
    visibility: hidden;
    opacity: 0;
    height: 0;
    position: absolute;
    overflow: hidden;
    padding: 0 25px;
    right: -50px;
    top: 36px;
    list-style: none;
    z-index: 100;
    width: 240px;
    max-width: 80vw;
    margin-top: 16px;
    border-end-start-radius: 15px;
    transition: height 1s ease, padding 0.5s ease, visibility 0.6s, opacity 0.6s;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    background-color: rgba(11, 11, 11, 0.75);
    backdrop-filter: blur(5px);
}

.dropdown.show .dropdown-menu {
    visibility: visible;
    opacity: 1;
    height: 440px;
    padding: 25px;
}
.dropdown.show button i {
    transform: rotateZ(0deg);
}
.dropdown button i {
    transition: transform ease-in-out 0.6s;
    transform: rotateZ(180deg) translateY(-10%);
}

.dropdown-menu li a {
    position: relative;
    color: #b1b1b1;
}

.dropdown-menu li a i {
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

.dropdown-menu li {
    transition: left 0.3s ease-in-out;
    text-align: left;
    position: relative;
    padding-bottom: 20px;
    left: 0;
}

.dropdown-menu li:hover {
    transition: left 0.5s ease-in-out;
    left: 20px;
}

.dropdown-menu li:hover a i {
    opacity: 1;
}

.center_bth {
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0 20px;
}

.center_bth button {
    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
    padding: 10px 30px;
    margin-left: 10px;
    background-color: #bcbcbc;
    color: #0e0e0e;
    font-size: 18px;
    cursor: pointer;
    border-radius: 15px;
    border: none;
    min-width: 120px;
}
.center_bth button:hover {
    background-color: #e6e6e6;
}
.center_bth button:active {
    background-color: transparent;
    color: #dadada;
}

#list {
    padding: 25px;
    margin-top: -20px;
}

#list li {
    transition: box-shadow 1s ease-in-out, transform 0.4s ease-in-out;
    box-shadow: #000000 0 10px 10px;
    border-left: 1px solid #3E3E3E;
    border-block: 1px solid #2c2c2c;
    border-right: 1px solid #1b1b1b;
    border-radius: 20px;
    padding: 50px;
    margin-top: 20px;
}

#list li:hover {
    transform: rotate3d(-0.3, 1, 0, 10deg);
    box-shadow: #2e2e2e 0 10px 40px;
}

.menu-button {
    position: relative;
    bottom: 10px;
    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
    background-color: #bcbcbc;
    padding: 10px 20px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    color: #0e0e0e;
    font-size: 1.25rem;
}

.dropdown.show .menu-button {
    background-color: transparent;
    color: #dadada;
}
.only-short {
    display: none;
}

.menu-button:hover {
    background-color: #e6e6e6;
    color: #0e0e0e;
}

.astra-system {
    position: relative;
    top: -200px;
    display: flex;
    justify-content: center;
    margin-inline: auto;
    width: min(20%, 300px);
    min-width: 200px;
    max-width: 90vw;
    height: 800px;
    perspective: 1000px;
    perspective-origin: center;
    align-items: center;
}
.astra-system:not(.active):hover .astra-cube:not(.show) {
    transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg) translateY(100%);
}
.astra-system:hover .astra-cube .astra-cube-face {
    border: 2px solid #cdcdcd;
    box-shadow: rgba(140, 140, 140, 0.35) 0 0 50px 5px;
}
.astra-system.active .astra-cube {
    transform: rotateY(0deg) rotateX(19deg) rotateZ(0deg) translateY(160%);
    .front {transform: translateZ(100px); border-radius: 50%;}
    .back {transform: rotateY(180deg); border-radius: 50%;}
    .top, .bottom {transition: border-radius ease-in-out 1.2s, border ease-in-out 0.5s, box-shadow ease-in-out 0.8s, width ease-in-out 1.2s, transform ease-in-out 1.2s, height ease-in-out 1.2s, opacity ease-in-out 0.1s;}
    .top {transform: rotateX(90deg) translateZ(100px); opacity: 0;}
    .bottom {transform: rotateX(-90deg) translateZ(100px); opacity: 0;}
}
.astra-system h2 {
    transition: top ease-in-out 1.2s, border ease-in-out 1s, border-radius ease-in-out 1.2s;
    border-top: rgba(85, 85, 85, 0) 1px solid;
    border-radius: 5px;
    position: absolute;
    text-align: center;
    font-size: 34px;
    width: min(40vw, 600px);
    top: 400px;
}
.astra-system.active h2 {
    border-top: #555555 1px solid;
    border-radius: 100%;
    top: 460px;
}
.astra-system:not(.active):hover h2 {
    top: 320px;
}
.astra-system:has(.astra-cube.show) h2 {
    top: 120px;
}
.star-information {
    transition: opacity 1.2s ease-in-out, height 1.2s ease-in-out;
    z-index: -1;
    opacity: 0;
    display: flex;
    position: absolute;
    text-align: center;
    justify-content: center;
    font-size: 32px;
    width: min(600px, 90vw);
    max-width: 90vw;
    height: 0;
    top: 180px;
    gap: 5%;
    flex-wrap: wrap;
}
.star-information li {
    border-inline: #555555 1px solid;
    border-radius: 25px;
    margin-inline: 15px;
    margin-bottom: 20px;
    align-items: center;
    flex: 1;
    min-width: 160px;
}
.astra-system.active .star-information {
    opacity: 1;
    height: 160px;
}
.astra-cube {
    width: 200px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    transform-origin: center center;
    transition: transform ease-in-out 1.2s;
}
.astra-cube.show {
    transform: translateX(-23.75vw);
    #astraSystemContainer {pointer-events: all; height: 500px; animation: appearing 2s forwards;}
    .front {transform: translateZ(100px); width: min(78vw, 800px); max-width: 78vw; height: 600px;}
    .back {transform: rotateY(180deg) translateZ(7.81vw); width: min(78vw, 800px); max-width: 78vw; height: 600px;}
    .top, .bottom {transition: border-radius ease-in-out 1.2s, border ease-in-out 0.5s, box-shadow ease-in-out 0.8s, width ease-in-out 1.2s, transform ease-in-out 1.2s, height ease-in-out 1.2s, opacity ease-in-out 1.8s;}
    .top {transform: rotateX(90deg) translateZ(100px); width: min(78vw, 800px); max-width: 78vw;}
    .bottom {transform: rotateX(-90deg) translateZ(500px); width: min(78vw, 800px); max-width: 78vw;}
}
.astra-cube:not(.show) {
    transform: rotateY(226deg) rotateX(10deg) rotateZ(10deg) translateY(160%);
    .front {width: 200px; height: 200px;}
    .back {width: 200px; height: 200px;}
    .right {height: 200px;}
    .left {height: 200px;}
}

#astraSystemContainer {
    transition: opacity 1.2s ease-in-out, height 1.2s ease-in-out, width 1.2s ease-in-out;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    height: 100px;
    padding-inline: 50px;
    pointer-events: none;
    opacity: 0;
    row-gap: 10px;
    flex-wrap: wrap;
    overflow-y: auto;
    max-width: 100%;
}
.astra-system-button {
    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
    height: 40px;
    margin-left: 20px;
    background-color: rgba(188, 188, 188, 0.75);
    color: #0e0e0e;
    font-size: 18px;
    cursor: pointer;
    border-radius: 15px;
    border: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 80px;
    max-width: 200px;
}
.astra-system-button:hover {
    background-color: rgba(230, 230, 230, 0.8);
}
.astra-system-button:active {
    background-color: transparent;
    color: #dadada;
}
#searchAstraSystem {
    background-color: rgba(2, 2, 2, 0.75);
    backdrop-filter: blur(5px);
    border: #9c9c9c 2px solid;
    border-radius: 10px;
    width: 100%;
    max-width: 100%;
    height: 60px;
    outline: none;
    color: #8c8c8c;
    font-size: 18px;
    text-align: center;
    box-sizing: border-box;
}
#searchAstraSystem::placeholder {
    color: #8c8c8c;
    font-size: 18px;
    text-align: center;
}
.astra-cube-face {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 2px solid #9c9c9c;
    transition: border-radius ease-in-out 1.2s, border ease-in-out 0.5s, box-shadow ease-in-out 0.8s, width ease-in-out 1.2s, transform ease-in-out 1.2s, height ease-in-out 1.2s, opacity ease-in-out 1.8s;
    background: transparent;
    box-sizing: border-box;
    box-shadow: rgba(140, 140, 140, 0.5) 0 0 50px -10px;
}
.front {transform: translateZ(100px);}
.back {transform: rotateY(180deg) translateZ(100px);}
.top, .bottom {transition: border-radius ease-in-out 1.2s, border ease-in-out 0.5s, box-shadow ease-in-out 0.8s, width ease-in-out 1.2s, transform ease-in-out 1.2s, height ease-in-out 1.2s, opacity ease-in-out 1.8s;}
.top {transform: rotateX(90deg) translateZ(100px);}
.bottom {transform: rotateX(-90deg) translateZ(100px);}

*::-webkit-scrollbar {
    width: 12px;
}
*::-webkit-scrollbar-track{
    background: transparent;
}
*::-webkit-scrollbar-thumb {
    background: #3E3E3E;
    border-radius: 10px;
}
*::-webkit-scrollbar-thumb:hover {
    background: #555555;
}
@keyframes appearing {
    60% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.system:has(.astra-cube.show) .exo-planets {
    opacity: 0;
}
.system:has(.astra-cube:not(.show)) .exo-planets {
    opacity: 1;
}
.exo-planets {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 90%;
    max-width: 90%;
    min-height: 1200px;
    margin-inline: auto;
    padding-top: 50px;
    border-radius: 25px;
    border-top: rgba(85, 85, 85, 0.5) solid 1px;
    transition: opacity 2s ease-in-out;
    overflow-x: hidden;
}
.exo-planet-block {
    width: min(220px, 90vw);
    max-width: 90vw;
    height: 560px;
    margin-bottom: 20px;
}
.exo-planet {
    transition: border ease-in-out 0.5s, box-shadow ease-in-out 0.5s;
    background: transparent;
    border: 1px solid #555555;
    border-radius: 50%;
    width: min(220px, 90vw);
    height: min(220px, 90vw);
    margin-inline: auto;
}
.exo-planet-block:hover {
    .exo-planet {border: 1px solid #8c8c8c; box-shadow: #353535 0 30px 50px;}
    .planet-info {text-shadow: #404040 0 10px 20px;}
}
.planet-info {
    width: min(227px, 90vw);
    height: 300px;
    font-size: 24px;
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    border: #555555 1px solid;
    border-top: transparent solid 1px;
    border-radius: 25px;
    transition: text-shadow ease-in-out 0.5s;
}

.mask {
    width: 100%;
    height: 100%;
    background-color: #121212;
    position: fixed;
    top: 0;
    z-index: 100;
    transition: 0.6s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.loader {
    width: 125px;
    height: 125px;
}
.mask p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-size: 1.5rem;
}
.text {
    margin-top: 20px;
}
.mask.hide {
    opacity: 0;
}

.inputDiv {
    justify-content: center;
    justify-items: center;
    display: flex;
    padding-inline: 80px ;
}

#startDate, #endDate, #selectType {
    backdrop-filter: blur(5px);
    border-top: #3E3E3E 1px solid;
    border-left: #3E3E3E 1px solid;
    border-bottom: #2e2e2e 1px solid;
    border-right: #2e2e2e 1px solid;
    border-radius: 15px;
    width: 100%;
    max-width: 100%;
    height: 60px;
    outline: none;
    color: #8c8c8c;
    text-align: center;
    box-sizing: border-box;
    margin-left: 30px;
    padding: 10px 14px;
    background-color: #0e0e0e;
    font-size: 0.9em;
    cursor: pointer;
}

#startDate::placeholder, #endDate::placeholder, #selectType::placeholder {
    color: #8c8c8c;
    font-size: 0.9em;
    text-align: center;
}

#showWeather {
    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
    padding: 10px 30px;
    margin-left: 30px;
    background-color: #bcbcbc;
    color: #0e0e0e;
    font-size: 0.7em;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    min-width: 120px;
}
#showWeather:hover {
    background-color: #e6e6e6;
}
#showWeather:active {
    background-color: transparent;
    color: #dadada;
}

.flatpickr-day,
.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.today,
.flatpickr-day:hover {
    color: #FFFFFF !important;
}

.dayContainer, .flatpickr-current-month, .flatpickr-month, .flatpickr-weekday, .flatpickr-weekdays {
    color: #FFFFFF !important;
    border: none !important;
}

.flatpickr-calendar {
    background-color: rgb(14, 14, 14) !important;
    border: none !important;
}

.flatpickr-next-month, .flatpickr-prev-month {
    fill: white !important;
}

.flatpickr-monthDropdown-month {
    background-color: black !important;
}

.flatpickr-current-month .numInputWrapper span.arrowUp:after {
    border-bottom-color: #FFFFFF !important;
}

.flatpickr-current-month .numInputWrapper span.arrowDown:after {
    border-top-color: #FFFFFF !important;
}

.flatpickr-day:hover {
    background: none !important;
}

.flatpickr-calendar {
    box-shadow: none !important;
    border: #161616 1px solid !important;
    border-radius: 25px !important;
}

#selectType option {
    margin-top: 50px !important;
    font-size: 10px;
}

#results, .event {
    margin-top: 100px;
    text-align: center;
    display: grid;
    justify-self: center;
}

.event {
    background-color: #050505;
    padding: 20px;
    border-top: #3E3E3E 1px solid;
    border-left: #3E3E3E 1px solid;
    border-bottom: #2e2e2e 1px solid;
    border-right: #2e2e2e 1px solid;
    border-radius: 18px;
    width: 80%;
    opacity: 0;
    text-align: left;
    animation: appearing 1s ease-in-out forwards;
}

.text_js {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    line-height: 3rem;
}

@media (max-width: 400px) {
    .star-information {
        justify-content: left !important;
        flex-direction: row;
        flex-wrap: wrap;
        text-wrap: wrap !important;
        gap: 20px !important;
        margin-left: 0;
        width: 200px !important;
        right: -20%;
    }
    .star-information li {
        border-inline: none;
        border-radius: 0;
        padding-inline: 0;
    }
    .banner div {
        min-width: 300px;
        margin-left: 20px;
    }
    .astra-cube.show {
        transform: translateX(-11vw) !important;
    }
    .astra-system.active h2 {
        border-top: none !important;
        top: 600px !important;
    }
}
@media (max-width: 600px) {
    .navbar nav {
        display: none;
    }
    .only-short {
        display: block;
    }
    #app h2 {
        text-align: left;
        padding-left: 45px;
        width: 90vw
    }
    .inputDiv {
        padding-left: 60px;
        flex-wrap: wrap;
        gap: 20px;
    }
    #showWeather {
        margin-left: 10px;
    }
    #selectType {
        position: relative;
        width: 50% !important;
        max-width: 50% !important;
        right: 23% !important;
    }
}

@media (max-width: 900px) {
    .exo-planets {
        justify-content: center;
    }
    .exo-planet {
        width: 200px !important;
        height: 200px !important;
    }
    .planet-info {
        position: relative;
        width: 300px !important;
        height: 260px !important;
        right: 40px !important;
    }
    .center_bth button {
        padding: 10px 30px !important;
    }
    #startDate, #endDate, #selectType {
        margin-left: 10px;
    }
}
@media (max-width: 1275px) {
    p {
        padding-top: 20px;
        width: 80vw !important;
        font-size: 24px;
    }
}
@media (max-width: 1010px) {
    .star-information {
        justify-content: left !important;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px !important;
        margin-left: 0;
        width: 500px !important;
    }
    .astra-system.active .astra-cube {
        transform: rotateY(-1deg) rotateX(23deg) rotateZ(0deg) translateY(190%) translateX(2.5%) !important;
    }
    .astra-system.active h2 {
        transform: translateY(80%);
    }
    .astra-cube.show {
        transform: translateX(-18vw);
    }
    .astra-system:not(.active):hover .astra-cube:not(.show) {
        transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg) translateY(100%) !important;
    }
    .astra-system:not(.active) .astra-cube:not(.show) {
        transform: rotateY(226deg) rotateX(10deg) rotateZ(10deg) translateY(180%) !important;
    }
}